includes:
    - phpstan-baseline.neon
parameters:
    level: max
    paths:
        - %currentWorkingDirectory%/src
        - %currentWorkingDirectory%/tests
    fileExtensions:
        - php

    ignoreErrors:
        - '#PHPDoc tag @throws with type ([\w\\\|]+\|)?Laminas\\Serializer\\Exception\\ExceptionInterface(\|[\w\\\|]+)? is not subtype of Throwable#'
