parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$exchange of method PhpAmqpLib\\\\Channel\\\\AMQPChannel\\:\\:exchange_declare\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: src/BaseAmqp.php

		-
			message: "#^Parameter \\#2 \\$type of method PhpAmqpLib\\\\Channel\\\\AMQPChannel\\:\\:exchange_declare\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: src/BaseAmqp.php

		-
			message: "#^Parameter \\#1 \\$destination of method PhpAmqpLib\\\\Channel\\\\AMQPChannel\\:\\:exchange_bind\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: src/BaseAmqp.php

		-
			message: "#^Parameter \\#2 \\$source of method PhpAmqpLib\\\\Channel\\\\AMQPChannel\\:\\:exchange_bind\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: src/BaseAmqp.php

		-
			message: "#^Parameter \\#2 \\$exchange of method PhpAmqpLib\\\\Channel\\\\AMQPChannel\\:\\:queue_bind\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: src/BaseAmqp.php

		-
			message: "#^Parameter \\#1 \\$queue of method PhpAmqpLib\\\\Channel\\\\AMQPChannel\\:\\:basic_consume\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: src/BaseConsumer.php

		-
			message: "#^Cannot call method getName\\(\\) on RabbitMqModule\\\\Options\\\\Queue\\|null\\.$#"
			count: 1
			path: src/BaseConsumer.php

		-
			message: "#^Cannot call method getName\\(\\) on RabbitMqModule\\\\Options\\\\Queue\\|null\\.$#"
			count: 1
			path: src/Consumer.php

		-
			message: "#^Parameter \\#1 \\$queue of method PhpAmqpLib\\\\Channel\\\\AMQPChannel\\:\\:queue_purge\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: src/Consumer.php

		-
			message: "#^Parameter \\#2 \\$exchange of method PhpAmqpLib\\\\Channel\\\\AMQPChannel\\:\\:basic_publish\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: src/Producer.php

		-
			message: "#^Method RabbitMqModule\\\\RpcClient\\:\\:addRequest\\(\\) has parameter \\$body with no typehint specified\\.$#"
			count: 1
			path: src/RpcClient.php

		-
			message: "#^Method RabbitMqModule\\\\RpcClient\\:\\:addRequest\\(\\) has parameter \\$requestId with no typehint specified\\.$#"
			count: 1
			path: src/RpcClient.php

		-
			message: "#^Method RabbitMqModule\\\\RpcServer\\:\\:sendReply\\(\\) has parameter \\$result with no typehint specified\\.$#"
			count: 1
			path: src/RpcServer.php

		-
			message: "#^Cannot access offset 'factoryClass' on \\(array\\<string, string\\>\\)\\|true\\.$#"
			count: 1
			path: src/Service/AbstractServiceFactory.php

		-
			message: "#^Cannot access offset 'serviceName' on \\(array\\<string, string\\>\\)\\|true\\.$#"
			count: 1
			path: src/Service/AbstractServiceFactory.php

		-
			message: "#^Parameter \\#2 \\$port of class PhpAmqpLib\\\\Connection\\\\AMQPLazyConnection constructor expects string, int given\\.$#"
			count: 1
			path: src/Service/Connection/LazyConnectionFactory.php

		-
			message: "#^Parameter \\#12 \\$context of class PhpAmqpLib\\\\Connection\\\\AMQPStreamConnection constructor expects null, array\\<string, mixed\\> given\\.$#"
			count: 1
			path: src/Service/Connection/SSLConnectionFactory.php

		-
			message: "#^Parameter \\#2 \\$port of class PhpAmqpLib\\\\Connection\\\\AMQPStreamConnection constructor expects string, int given\\.$#"
			count: 1
			path: src/Service/Connection/SSLConnectionFactory.php

		-
			message: "#^Parameter \\#2 \\$port of class PhpAmqpLib\\\\Connection\\\\AMQPStreamConnection constructor expects string, int given\\.$#"
			count: 1
			path: src/Service/Connection/StreamConnectionFactory.php

		-
			message: "#^Parameter \\#1 \\$queueOptions of method RabbitMqModule\\\\BaseAmqp\\:\\:setQueueOptions\\(\\) expects RabbitMqModule\\\\Options\\\\Queue, RabbitMqModule\\\\Options\\\\Queue\\|null given\\.$#"
			count: 1
			path: src/Service/ConsumerFactory.php

		-
			message: "#^Parameter \\#1 \\$exchangeOptions of method RabbitMqModule\\\\BaseAmqp\\:\\:setExchangeOptions\\(\\) expects RabbitMqModule\\\\Options\\\\Exchange, RabbitMqModule\\\\Options\\\\Exchange\\|null given\\.$#"
			count: 1
			path: src/Service/ConsumerFactory.php

		-
			message: "#^Cannot call method getPrefetchSize\\(\\) on RabbitMqModule\\\\Options\\\\Qos\\|null\\.$#"
			count: 1
			path: src/Service/ConsumerFactory.php

		-
			message: "#^Cannot call method getPrefetchCount\\(\\) on RabbitMqModule\\\\Options\\\\Qos\\|null\\.$#"
			count: 1
			path: src/Service/ConsumerFactory.php

		-
			message: "#^Parameter \\#1 \\$exchangeOptions of method RabbitMqModule\\\\BaseAmqp\\:\\:setExchangeOptions\\(\\) expects RabbitMqModule\\\\Options\\\\Exchange, RabbitMqModule\\\\Options\\\\Exchange\\|null given\\.$#"
			count: 1
			path: src/Service/ProducerFactory.php

		-
			message: "#^Parameter \\#1 \\$queueOptions of method RabbitMqModule\\\\BaseAmqp\\:\\:setQueueOptions\\(\\) expects RabbitMqModule\\\\Options\\\\Queue, RabbitMqModule\\\\Options\\\\Queue\\|null given\\.$#"
			count: 1
			path: src/Service/ProducerFactory.php

		-
			message: "#^Parameter \\#1 \\$queueOptions of method RabbitMqModule\\\\BaseAmqp\\:\\:setQueueOptions\\(\\) expects RabbitMqModule\\\\Options\\\\Queue, RabbitMqModule\\\\Options\\\\Queue\\|null given\\.$#"
			count: 1
			path: src/Service/RpcServerFactory.php

		-
			message: "#^Parameter \\#1 \\$exchangeOptions of method RabbitMqModule\\\\BaseAmqp\\:\\:setExchangeOptions\\(\\) expects RabbitMqModule\\\\Options\\\\Exchange, RabbitMqModule\\\\Options\\\\Exchange\\|null given\\.$#"
			count: 1
			path: src/Service/RpcServerFactory.php

		-
			message: "#^Cannot call method getPrefetchSize\\(\\) on RabbitMqModule\\\\Options\\\\Qos\\|null\\.$#"
			count: 1
			path: src/Service/RpcServerFactory.php

		-
			message: "#^Cannot call method getPrefetchCount\\(\\) on RabbitMqModule\\\\Options\\\\Qos\\|null\\.$#"
			count: 1
			path: src/Service/RpcServerFactory.php

		-
			message: "#^Method RabbitMqModule\\\\BaseAmqpTest\\:\\:getMethod\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: tests/unit/BaseAmqpTest.php

		-
			message: "#^Method RabbitMqModule\\\\BaseAmqpTest\\:\\:getMethod\\(\\) has parameter \\$name with no typehint specified\\.$#"
			count: 1
			path: tests/unit/BaseAmqpTest.php

		-
			message: "#^Method RabbitMqModule\\\\BaseAmqpTest\\:\\:getDataProviderForAutoSetupFabricEnabled\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/unit/BaseAmqpTest.php

		-
			message: "#^Method RabbitMqModule\\\\BaseAmqpTest\\:\\:testSetupFabricWithoutBinds\\(\\) has parameter \\$exchangeData with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/unit/BaseAmqpTest.php

		-
			message: "#^Method RabbitMqModule\\\\BaseAmqpTest\\:\\:testSetupFabricWithoutBinds\\(\\) has parameter \\$queueData with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/unit/BaseAmqpTest.php

		-
			message: "#^Method RabbitMqModule\\\\BaseAmqpTest\\:\\:getDataProviderForSetupFabric\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/unit/BaseAmqpTest.php

		-
			message: "#^Method RabbitMqModule\\\\ConsumerTest\\:\\:testProcessMessage\\(\\) has parameter \\$method with no typehint specified\\.$#"
			count: 1
			path: tests/unit/ConsumerTest.php

		-
			message: "#^Method RabbitMqModule\\\\ConsumerTest\\:\\:testProcessMessage\\(\\) has parameter \\$paramsExpects with no typehint specified\\.$#"
			count: 1
			path: tests/unit/ConsumerTest.php

		-
			message: "#^Method RabbitMqModule\\\\ConsumerTest\\:\\:testProcessMessage\\(\\) has parameter \\$response with no typehint specified\\.$#"
			count: 1
			path: tests/unit/ConsumerTest.php

		-
			message: "#^Method RabbitMqModule\\\\ConsumerTest\\:\\:processMessageProvider\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: tests/unit/ConsumerTest.php

		-
			message: "#^Parameter \\#1 \\$queue of method RabbitMqModule\\\\Options\\\\Consumer\\:\\:setQueue\\(\\) expects array\\<string, mixed\\>\\|RabbitMqModule\\\\Options\\\\Queue, string given\\.$#"
			count: 1
			path: tests/unit/Options/ConsumerTest.php

		-
			message: "#^Parameter \\#1 \\$exchange of method RabbitMqModule\\\\Options\\\\Consumer\\:\\:setExchange\\(\\) expects array\\<string, mixed\\>\\|RabbitMqModule\\\\Options\\\\Exchange, string given\\.$#"
			count: 1
			path: tests/unit/Options/ConsumerTest.php

		-
			message: "#^Parameter \\#1 \\$qos of method RabbitMqModule\\\\Options\\\\Consumer\\:\\:setQos\\(\\) expects array\\<string, mixed\\>\\|RabbitMqModule\\\\Options\\\\Qos, string given\\.$#"
			count: 1
			path: tests/unit/Options/ConsumerTest.php

		-
			message: "#^Parameter \\#1 \\$exchange of method RabbitMqModule\\\\Options\\\\ExchangeBind\\:\\:setExchange\\(\\) expects array\\<string, mixed\\>\\|RabbitMqModule\\\\Options\\\\Exchange, string given\\.$#"
			count: 1
			path: tests/unit/Options/ExchangeBindTest.php

		-
			message: "#^Parameter \\#1 \\$bind of method RabbitMqModule\\\\Options\\\\Exchange\\:\\:addExchangeBind\\(\\) expects array\\<string, mixed\\>\\|RabbitMqModule\\\\Options\\\\ExchangeBind, string given\\.$#"
			count: 1
			path: tests/unit/Options/ExchangeTest.php

		-
			message: "#^Parameter \\#1 \\$queue of method RabbitMqModule\\\\Options\\\\Producer\\:\\:setQueue\\(\\) expects array\\<string, mixed\\>\\|RabbitMqModule\\\\Options\\\\Queue, string given\\.$#"
			count: 1
			path: tests/unit/Options/ProducerTest.php

		-
			message: "#^Parameter \\#1 \\$exchange of method RabbitMqModule\\\\Options\\\\Producer\\:\\:setExchange\\(\\) expects array\\<string, mixed\\>\\|RabbitMqModule\\\\Options\\\\Exchange, string given\\.$#"
			count: 1
			path: tests/unit/Options/ProducerTest.php

		-
			message: "#^Parameter \\#1 \\$serializer of method RabbitMqModule\\\\Options\\\\RpcClient\\:\\:setSerializer\\(\\) expects array\\<string, array\\<string, mixed\\>\\|string\\|null\\>\\|Laminas\\\\Serializer\\\\Adapter\\\\AdapterInterface\\|string\\|null, array\\<string, string\\> given\\.$#"
			count: 1
			path: tests/unit/Options/RpcClientTest.php

		-
			message: "#^Parameter \\#1 \\$serializer of method RabbitMqModule\\\\Options\\\\RpcClient\\:\\:setSerializer\\(\\) expects array\\<string, array\\<string, mixed\\>\\|string\\|null\\>\\|Laminas\\\\Serializer\\\\Adapter\\\\AdapterInterface\\|string\\|null, array given\\.$#"
			count: 1
			path: tests/unit/Options/RpcClientTest.php

		-
			message: "#^Parameter \\#1 \\$serializer of method RabbitMqModule\\\\Options\\\\RpcServer\\:\\:setSerializer\\(\\) expects array\\<string, array\\<string, mixed\\>\\|string\\|null\\>\\|Laminas\\\\Serializer\\\\Adapter\\\\AdapterInterface\\|string\\|null, array\\<string, string\\> given\\.$#"
			count: 1
			path: tests/unit/Options/RpcServerTest.php

		-
			message: "#^Parameter \\#1 \\$serializer of method RabbitMqModule\\\\Options\\\\RpcServer\\:\\:setSerializer\\(\\) expects array\\<string, array\\<string, mixed\\>\\|string\\|null\\>\\|Laminas\\\\Serializer\\\\Adapter\\\\AdapterInterface\\|string\\|null, array given\\.$#"
			count: 1
			path: tests/unit/Options/RpcServerTest.php

		-
			message: "#^Parameter \\#1 \\$exception of method PHPUnit\\\\Framework\\\\TestCase\\:\\:expectException\\(\\) expects class\\-string\\<Throwable\\>, string given\\.$#"
			count: 1
			path: tests/unit/Service/AbstractServiceFactoryTest.php

		-
			message: "#^Callable RabbitMqModule\\\\Service\\\\ConnectionFactory invoked with 2 parameters, 1 required\\.$#"
			count: 3
			path: tests/unit/Service/ConnectionFactoryTest.php

		-
			message: "#^Parameter \\#2 \\$service of method Laminas\\\\ServiceManager\\\\ServiceManager\\:\\:setService\\(\\) expects array\\|object, string given\\.$#"
			count: 1
			path: tests/unit/Service/ConnectionFactoryTest.php

		-
			message: "#^Parameter \\#1 \\$factoryMap of method RabbitMqModule\\\\Service\\\\ConnectionFactory\\:\\:setFactoryMap\\(\\) expects array\\<string, class\\-string\\<RabbitMqModule\\\\Service\\\\Connection\\\\ConnectionFactoryInterface\\>\\>, array\\<string, string\\> given\\.$#"
			count: 1
			path: tests/unit/Service/ConnectionFactoryTest.php

		-
			message: "#^Cannot call method getName\\(\\) on RabbitMqModule\\\\Options\\\\Queue\\|null\\.$#"
			count: 1
			path: tests/unit/Service/ProducerFactoryTest.php

		-
			message: "#^Method RabbitMqModule\\\\Service\\\\ServiceFactoryMock\\:\\:__invoke\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: tests/unit/Service/ServiceFactoryMock.php

